{# Inherit a parent template called base.html #}
{% extends "base.html" %}
{# Add the title for this page #}
{% block title %}Home{% endblock %}
{# Add the content for this page #}
{% block content %}
    <br>
    <h1>About Langbridge</h1>

    <p>
    When it comes to language acquisition, it is generally accepted that cultural and dialogue
immersion is considered to be the fastest and most efficient way to learn a language. While
regular exercises, written work, and quizzes do help, language fluency is best achieved through
discussions with native speakers. The main difficulty people who want to learn a language face
today is that it can be quite difficult to seek out native speakers of their desired language,
especially near one’s location. Currently existing language applications also fail in this respect, as
they don’t provide contact with native speakers of desired languages in a direct and convenient
manner.</p>
    <p>
Thus, Langbridge can bridge this demand for learning a language in the most
efficient way possible. Langbridge actively tries  to match them with a native speaker of that language and allow users to schedule
either online or face-to-face meetings for discussion. The incentive for native speakers of
languages to join would be the opportunity to learn another language besides their own.
Income-wise, there would also be an opportunity for qualified tutors to provide paid language
lessons to our users.
    </p>

    <h4> Come try out Langbridge today!</h4>

{% endblock %}