{% extends "base.html" %}
{% block title %}Advanced Search{% endblock %}
{% block content %}

    <h3>Choose a language: </h3>

    <body>

    <label class="container">Mandarin
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
    </label>
    <label class="container">English
        <input type="radio" name="radio">
        <span class="checkmark"></span>
    </label>
    <label class="container">Spanish
        <input type="radio" name="radio">
        <span class="checkmark"></span>
    </label>

    </body>



{% endblock %}