{# This page allows users to edit their profile. #}

{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
    <h1> Edit Profile Details</h1>
    <br>
    <form action="" method="post" name="edit">
        <h5> Your new name: </h5>
        {{ form.name }}
        <h5> Your email: </h5>
        {{ form.email }}
        <h5> Your email: </h5>
        {{ form.language }}
        <br><br>
        <button class="btn btn-danger btn-outline-light" type="submit" value="Submit">Change details</button>
    </form>

{% endblock %}