{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block content %}
    <h1>Payment Details{{ name }}</h1>
    <!DOCTYPE html>

<head>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <link href="../static/css/card-js.min.css" rel="stylesheet" type="text/css" />
  <script src="../static/js/card-js.min.js"></script>

  <style type="text/css">
    form button {
      display: block;
      margin-top: 15px;
      width: 200%;
      font-size: 12px;
      padding: 8px 12px;
    }
  </style>
    <title></title>

</head>
<body>


<form class="form-horizontal" id="example-form" style="width: 600px" action="payment_details" method="POST">
  <fieldset>

<!--
  -- Card JS Input Group
  -->
<div class="row">
	<div class="col-lg-7">
        <h3>Add new card</h3>

		<div class="card-js form-group">


  		<!-- Card number -->
  		<input class="card-number form-control"
         		name="card_number"
         		placeholder="Enter your card number"
         		autocomplete="off"
             required>

	  	<!-- Name on card -->
  		<input class="name form-control"
        	 		id="the-card-name-id"
         		name="card_name"
         		placeholder="Enter the name on your card"
         		autocomplete="off"
         		required>


  	<!-- Card expiry (element that is displayed) -->
  		<input class="expiry form-control"
         		autocomplete="off"
         		required>

  		<!-- Card expiry - Month (hidden) -->
  		<input class="expiry-month" name="expiry_month">

  		<!-- Card expiry - Year (hidden) -->
  		<input class="expiry-year" name="expiry_year">


  		<!-- Card CVV -->
  		<input class="cvc form-control"
         		name="CVV"
         		placeholder="CVV"
         		autocomplete="off"
         		required>

		</div><!-- END .card-js wrapper -->
	</div>

	<div class="col-lg-5">
        <br>
        <h8>Billing address</h8>

        <input class="name form-control"
        	 		id="country-id"
         		name="country"
         		placeholder="Country"
         		required>
        <input class="name form-control"
        	 		id="address-id"
         		name="address"
         		placeholder="Address"
         		required>
        <input class="name form-control"
        	 		id="city-id"
         		name="city"
         		placeholder="City/Town"
         		required>
        <input class="name form-control"
        	 		id="postcode-id"
         		name="postcode"
         		placeholder="Postcode"
         		required>



    </div>
</div>


<input name="card_type" id="card_type" value="visa" type="text" hidden>
    <!--
      -- Submit button
      --
      -- (Must be outside of the div with class 'card-js')
      -->
    <div><input type="submit" value="Submit" class="mt-2 btn btn-danger btn-lg"> <a style ="padding-left: 10px" href="/wallet">Cancel</a></div>


  </fieldset>
</form>

<script>
  $(function() {

    // Only for example - catch form data when the form is submitted
    $("#example-form").submit(function(e) {
      let isCardValid = $('.card-type-icon').hasClass('show');
      if(isCardValid){
        var classList = $('.card-type-icon').attr('class').split(/\s+/);
        let cardType = classList[2];
        $("#card_type").val(cardType);
      }
      // Stop form submission
      // e.preventDefault();
      console.log(e);
    });

  });
</script>


</body>
</html>
{% endblock %}