{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}

    <h1> Profile Page</h1>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" align="center">
                <img src="../../static/img/default-profile.png" alt="default-profile" height="100" width="100">
            </div>
            <div class="col-md-9" align="Left">
                <p>Name: {{ name }}</p>
                <p>Email: {{ email }}</p>
                <p>Chosen language : {{ language }}</p>
                {% for result in results %}
                    {% if result.id == current_user.id %}
                        <p><a href="{{ url_for('auth.edit') }}">Edit</a></p>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>



{% endblock %}
