{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}

    <h1> Profile Page</h1>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" align="center">
                <img src="../../static/img/default-profile.png" alt="default-profile" height="100" width="100">
            </div>
            <div class="col-md-9" align="Left">
                {% for result in results %}
                    <p>Name: {{ result.user_name }}</p>
                    <p>Email: {{ result.email }}</p>
                    <p>Chosen language of study: {{ result.name }}</p>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
