{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block content %}

    <h1>Wallet Page{{ name }}</h1>
    <h2>LangCoin Balance: {{ wallet_balance }} LGC</h2>

    <div class="row">
        <div class="col-lg-6">
            <form action="/wallet" method="post" target="_top">
                <h3 class="text-center">Buy LangCoins</h3>
            <small>Input amount to buy:</small>
                <input type="number" step="0.01" min="0.01" class="form-control" name="buyamount" placeholder="0 LGC"/>
                <div>
                <label class="mt-3">Select card to pay with: </label></div>
                <select class="form-control buy-method">
                    <option value="">Choose registered card:</option>
                    {% for card in bankaccounts %}
                    <option value="{{card.credit_card_num}}">{{ card.payment_type.replace('-', ' ').title() }} ending in -{{ card.credit_card_num[-4:] }}</option>
                    {% endfor %}
                </select>
                <a href="/payment_details">+ Add Card</a>
                <div><input disabled type="submit" onclick = "return confirm('Are you sure you want to make this transaction?')" value="Buy LangCoins" class="mt-2 btn btn-danger btn-lg buy-button"/></div>
                <small>Enable button by selecting a card to pay with.</small>


            </form>
        </div>
        <div class="col-lg-6">
            <form action="/wallet" method="post" target="_top">
                <h3 class="text-center">Sell LangCoins</h3>
            <small>Input amount to sell:</small>
                <input type="number" step="0.01" min="0.01" class="form-control" name="sellamount" placeholder="0 LGC" />
                <label class="mt-3">Select card to deposit to: </label>
                <select class="form-control sell-method">
                    <option value="">Choose registered card: </option>
                    {% for card in bankaccounts %}
                    <option value="{{card.credit_card_num}}">{{ card.payment_type.replace('-', ' ').title() }} ending in -{{ card.credit_card_num[-4:] }}</option>
                    {% endfor %}
                </select>
                    <a href="/payment_details">+ Add Card</a>
                            <div><input disabled type="submit" onclick = "return confirm('Are you sure you want to make this transaction?')" value="Sell LangCoins" class="mt-2 btn btn-danger btn-lg sell-button"></input></div>
                <small>Enable button by selecting a card to deposit to.</small>
            </form>
        </div>
    </div>
    <br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="NZMJ8W8ABF39L">
    <input type="submit" src="https://dabuttonfactory.com/button.png?t=Buy+LangCoin+with+PayPal&f=Calibri-Bold&ts=24&tc=fff&tshs=1&tshc=000&hp=20&vp=8&c=5&bgt=gradient&bgc=c00&ebgc=900" value="Buy LangCoins with PayPal" class="mt-2 btn btn-primary btn-sm" alt="PayPal – The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        $(function(){

            $('select.buy-method').change(function(){
                if (!$(this).children("option:selected").val()) {
                    $('input.buy-button').prop('disabled', true)
                    $('input.buy-button').prop('disabled', true)

                    ;

                } else {
                    $('input.buy-button').prop('disabled', false);
                }
            })

            $('select.sell-method').change(function(){
                if($(this).children("option:selected").val()){
                    $('input.sell-button').prop('disabled', false);
                } else {
                    $('input.sell-button').prop('disabled', true);
                }
            })

        })
    </script>
{% endblock %}